VIDEO_PATHS:
  - /videos
IMAGE_PATHS:
  - /images
BULK_IMPORT_PATHS: []
SCAN_ON_STARTUP: true
DO_PROCESSING: true
SCAN_INTERVAL: 10800000
LIBRARY_PATH: /config/
FFMPEG_PATH: /usr/bin/ffmpeg
FFPROBE_PATH: /usr/bin/ffprobe
GENERATE_THUMBNAILS: true
GENERATE_MULTIPLE_THUMBNAILS: true
GENERATE_PREVIEWS: false
THUMBNAIL_INTERVAL: 120
PASSWORD: null
PORT: 3000
APPLY_SCENE_LABELS: true
APPLY_ACTOR_LABELS: true
APPLY_STUDIO_LABELS: true
READ_IMAGES_ON_IMPORT: false
BACKUP_ON_STARTUP: true
MAX_BACKUP_AMOUNT: 10
EXCLUDE_FILES: []
PLUGINS: {}
PLUGIN_EVENTS:
  actorCreated: []
  sceneCreated: []
  actorCustom: []
  sceneCustom: []
CREATE_MISSING_ACTORS: false
CREATE_MISSING_STUDIOS: false
CREATE_MISSING_LABELS: false
CREATE_MISSING_MOVIES: false
CACHE_TIME: 20
MAX_LOG_SIZE: 2500
COMPRESS_IMAGE_SIZE: 720