meta(name='viewport', content='width=device-width, initial-scale=1.0')

div(class='center')
  p(class='title') Debug
  a(class='button1', id='logout') Kill session

p(class='title') Labels
ul
  for item in labels
    li !{JSON.stringify(item)}

p(class='title') Actors
ul
  for item in actors
    li !{JSON.stringify(item)}

p(class='title') Scenes
ul
  for item in scenes
    li !{JSON.stringify(item)}

p(class='title') Images
ul
  for item in images
    li !{JSON.stringify(item)}

script.
  document.getElementById("logout").addEventListener("click", () => {
    localStorage.removeItem("pass");
    window.location.reload();
  })

style.
  * {
    font-family: sans-serif;
  }

  .button1 {
    background-color:#525d85;
    border-radius:5px;
    border:1px solid #517066;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
  }
  .button1:hover {
    background-color:#75758a;
  }
  .button1:active {
    position:relative;
    top:1px;
  }

  .title {
    font-size: 18px;
  }

  .center {
    text-align: center;
  }