.complex-grid {
  display: grid;
  width: 100%;
  max-width: 1000px;
  gap: 10px;
  margin-top: -50px;
  z-index: 5;
}

@media (max-width: 720px) {
  .complex-grid {
    grid-template-areas:
      "left"
      "right";
    margin-top: 0px;
  }
}

@media (min-width: 721px) {
  .complex-grid {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 200px 1fr;
  }

  .complex-grid-left-sticky {
    top: 64px;
    position: sticky;
  }
}
