.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr /*250px*/;
  grid-template-rows: 1fr;

  .sidebar {
    z-index: 1;
    padding: 5;
    max-height: 100vh;
    border-radius: 0;
  }

  .background {
    backdrop-filter: blur(2px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000000aa;
  }

  .image-wrap {
    z-index: 1;
    max-height: 100vh;
  }
}
