@import "../../styles/color.scss";

.avatar {
  border-radius: 50%;
  border-width: 4;
  border-style: solid;
  border-color: $primary;
  object-fit: cover;
}

.actor-name {
  color: $primary;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

:global(.dark) {
  .actor-name {
    color: $primary-light;
  }

  .avatar {
    border-color: $primary-light;
  }
}
