@import "./loader.scss";
@import "./layout.scss";
@import "./input.scss";
@import "./color.scss";
@import "./table.scss";
@import "./image_grid.scss";

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #eceef3;
  margin: 0;
  height: 100vh;
}

.dark {
  body {
    background: $bg-dark;
    color: white;
  }
}

.hover {
  transition: filter 0.1s ease-in-out;
}

.hover:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

#nprogress .bar {
  z-index: 1111 !important;
  background: $secondary !important;
}
