@import "./loader.scss";

* {
  font-family: "Roboto", sans-serif;
}

.hover {
  transition: filter 0.1s ease-in-out;
}

.hover:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

#nprogress .bar {
  z-index: 1111 !important;
  background: #ff55aa !important;
}
