@import "./color.scss";

input,
select {
  color: #333333;
  cursor: text;
  border: 2px solid darken($bg, 6%);
  font-weight: 600;
  border-radius: 4px;
  padding: 7px 12px;
  transition: all 0.075s ease-in-out;
  outline: none;
  font-size: 14px;
  background: $bg;

  &:disabled {
    cursor: not-allowed;
    color: #777777;
  }

  &:not(:disabled):hover {
    background: darken($bg, 6%);
  }

  &:not(:disabled):focus {
    background: darken($bg, 10%);
    border-color: darken($bg, 10%) !important;
  }
}

.dark {
  input,
  select {
    color: #e0e0e0;
    background: darken($bg-dark, 1%);
    border-color: lighten($bg-dark, 2%);

    &:disabled {
      cursor: not-allowed;
      color: #444444;
    }

    &:not(:disabled):hover {
      background: lighten($bg-dark, 2%);
    }

    &:not(:disabled):focus {
      background: lighten($bg-dark, 5%);
      border-color: lighten($bg-dark, 5%) !important;
    }
  }
}
