$topbar-height: 54px;

.mobile-sidebar-toggle {
  cursor: pointer;
}

.mobile-sidebar-darken {
  backdrop-filter: blur(2px);
  z-index: 800;
  background: #000000aa;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

@media (min-width: 540px) {
  .mobile-sidebar-toggle {
    display: none;
    cursor: pointer;
  }

  .mobile-sidebar {
    display: none;
  }

  .mobile-sidebar-darken {
    display: none;
  }
}

.mobile-sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  left: -300px;
  top: 0;
  z-index: 900;
  border-radius: 0px !important;
  transition: left 0.25s ease-in-out;

  &.active {
    left: 0 !important;
  }
}

.layout {
  display: grid;
  grid-template-areas:
    "topbar topbar"
    "sidebar content";
  grid-template-columns: 175px 1fr;
}

@media (max-width: 540px) {
  .sidebar {
    display: none;
  }

  .layout {
    grid-template-areas:
      "topbar"
      "content";
    grid-template-columns: 1fr;
  }
}

.topbar {
  display: flex;
  align-items: center;
  grid-area: topbar;
  background: white;
  position: fixed;
  width: 100%;
  height: $topbar-height;
  box-shadow: 0 0.6px 1.3px rgba(0, 0, 0, 0.06), 0 5px 10px rgba(0, 0, 0, 0.12);
  z-index: 700;
}

.dark {
  .topbar {
    background: #1d1d25;
  }

  .sidebar {
    border-color: #222222;

    .inner {
      .link {
        background: #14151d;
      }
    }
  }
}

.sidebar-link {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px 4px;
  text-transform: capitalize;
  margin-bottom: 8px;
  font-weight: bold;
  gap: 8px;
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid #f0f0f0;
  height: 100%;
  min-height: 100vh;

  .inner {
    display: flex;
    flex-direction: column;
    top: $topbar-height;
    position: sticky;
    height: calc(100vh - $topbar-height);
    gap: 4px;
  }
}

.content {
  grid-area: content;
  padding-top: $topbar-height;
}
